*{box-sizing: border-box;
margin: 0px;
padding: 0px;}
header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder
}
body>header { background-color: rgb(48, 44, 44);
padding: 16px 0;
color: rgb(97, 97, 97);
}
header .container{display: flex;
    justify-content: space-between}
header li a{color: rgb(240, 237, 237);
   text-decoration: none ;
   margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}
.articles {display: flex;
flex-wrap: wrap;
justify-content: space-between;}

.articles article img { 
    width: 100%;
    
}
.articles article {width: 30%;}
section {
    padding: 16px 0;
}
h2, .articles article{padding: 16px 0;}
.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.articles article a:hover{text-decoration: underline}
.articles article a {
    background-color: blue;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 8px;
    
}
.articles article p, .articles article a{ font-family: Arial, Helvetica, sans-serif;
}
.articles article h3{font-size: 24px;}
section h2{font-size: 32px;}
    #esportes {background-color: rgba(1, 245, 1, 0.205);}
    #esportes .articles article a{background-color: rgb(0, 255, 0, 0.8);}
    #economia {background-color: rgba(231, 243, 69, 0.555);}
    #economia .articles article a{background-color: rgba(250, 246, 8, 0.89);}
    #tecnologia {background-color: rgb(43,204,129);}
    #tecnologia .articles article a{background-color: blue;}
    #entretenimento {background-color: rgba(212, 92, 212, 0.315);}
    #entretenimento .articles article a{background-color: blueviolet;}


